<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/pageLayout}">

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(function(){
            let thymeleaf = {
                utility: {
                    maskingName: function(strName) {
                        if (strName.length > 2) {
                            const originName = strName.split('');
                            originName.forEach(function(name, i) {
                                if (i === 0 || i === originName.length - 1) return;
                                originName[i] = '*';
                            });
                            const joinName = originName.join();
                            return joinName.replace(/,/g, '');
                        } else {
                            const pattern = /.$/; // 정규식
                            return strName.replace(pattern, '*');
                        }
                    }
                }
            };

            // 상품 스와이퍼 슬라이드 이벤트
            let relatedProd = new Swiper('.related-item-cont .swiper-container', {
                paginationClickable : true,
                navigation: {
                    nextEl: '.related-item-cont .swiper-button-next',
                    prevEl: '.related-item-cont .swiper-button-prev',
                },

                slidesPerView: 4,
                spaceBetween: 30,
                //centeredSlides: true,
                loop: true,
                autoplayDisableOnInteraction: false,
            });
        })

        function changeCount(obj){
            var count = obj.value;
            var totalPrice = 0;
            var itemId = obj.id.split('_')[1];
            var price = $("#totalPrice").data("price");

            totalPrice += price * count;
            transPrice = comma(totalPrice);

            $("#totalPrice").html(transPrice+'원');
        }

        function order(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var itemId = $(".go-to-order").data("id");
            console.log(itemId);
            var count = $("#count_" + itemId);

            console.log(count.val());

            var url = "/order";
            var paramData = {
                itemId : itemId,
                count : count.val()
            }

            var param = JSON.stringify(paramData);

            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json",
                data: param,
                beforeSend: function(xhr){
                    /* 데이터 전송하기 전에 헤더에 csrf 값을 설정 */
                    xhr.setRequestHeader(header,token);
                },
                dataType: "json",
                cache: false, // 캐시여부 false
                success: function(result, status){ // result = id
                    alert("주문이 완료되었습니다.");
                    location.href = "/";
                },
                error: function(jqXHR, status, error){
                    if(jqXHR.status == '401'){
                        alert("로그인 후 이용해주세요.");
                        location.href = "/members/login";
                    } else { // 로그인 접근 에러 외의 모든 에러
                        alert(jqXHR.responseText);
                    }
                }
            });
        }

        function reviewLayer(itemId) {
            var itemId = itemId;

            $.ajax({
                url : "/review/new",
                type: "GET",
                //dataType: "json",
				//contentType: 'application/json; charset=utf-8',
                data: { itemId: itemId },
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header,token);
                },
                success: function(fragment){
                    $("#reviewCont").html(fragment);
                    $("#reviewLayerPop").css({"display": "block"});
                },
                error: function(jqXHR, status, error){
                    if(jqXHR.status == '401'){
                        alert("로그인 후 이용해주세요.");
                        location.href = "/members/login";
                    } else { // 로그인 접근 에러 외의 모든 에러
                        console.log(jqXHR.responseText);
                    }
                }
            })
        }

        function reviewSave() {
            let form = $("#uploadForm")[0];
            let formData = new FormData(form);
            let itemId = $("input[name=mainItemId]").val();
            formData.append('itemId', itemId);

            $.ajax({
                url : "/review/new",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header,token);
                },
                success: function(data){
                    console.log("완료");
                    console.log(data);
                    $("#reviewLayerPop").css({"display": "none"});
                    $("#reviewCont").empty();
                },
                error: function(jqXHR, status, error){
                    if(jqXHR.status == '401'){
                        alert("로그인 후 이용해주세요.");
                        location.href = "/members/login";
                    } else { // 로그인 접근 에러 외의 모든 에러
                        alert(jqXHR.responseText);
                    }
                }
            })
        }

        function fnClose(e){
            $(e).parents('#reviewLayerPop').hide();
            //$('.modal-container').find('input[name=searchQuery]').val('');
            //$("#searchCount").text(0);
            $("#reviewCont").children().remove();
        }
    </script>
</th:block>

<div layout:fragment="content">
    <div class="main-container">
        <section class="section-com container">
            <div class="product-detail-head side-layout">
                <div class="product-image left-side">
                    <div class="img-container">
                        <div th:if="${item.itemSellStatus == T(com.gowine.constant.ItemSellStatus).SOLD_OUT}" class="product-label sold-out">품절</div>
                        <img th:src="${item.itemImgDtoList[0].imgUrl}" th:alt="${item.itemNm}">
                    </div>
                    <div class="review-container">
                        <div class="heading-box">
                            <h2 class="heading-tit">Reviews</h2>
                        </div>

                        <div class="review-cont">
                            <dl class="star-dl">
                                <dt>
                                    <div class="review-star">
                                        <img th:src="@{/img/star-icon-on.png}">
                                        <img th:src="@{/img/star-icon-on.png}">
                                        <img th:src="@{/img/star-icon-on.png}">
                                        <img th:src="@{/img/star-icon-on.png}">
                                        <img th:src="@{/img/star-icon-on.png}">
                                    </div>
                                    <div class="review-cont"><span id="total-count">65</span> reviews</div>
                                </dt>
                                <dd class="review-status">
                                    <div>
                                        <div class="review-star">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-on.png}">
                                        </div>
                                        <div class="review-cont"><span id="count-5">(25)</span></div>
                                    </div>
                                    <div>
                                        <div class="review-star">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-off.png}">
                                        </div>
                                        <div class="review-cont"><span id="count-4">(20)</span></div>
                                    </div>
                                    <div>
                                        <div class="review-star">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-off.png}">
                                            <img th:src="@{/img/star-icon-off.png}">
                                        </div>
                                        <div class="review-cont"><span id="count-3">(0)</span></div>
                                    </div>
                                    <div>
                                        <div class="review-star">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-off.png}">
                                            <img th:src="@{/img/star-icon-off.png}">
                                            <img th:src="@{/img/star-icon-off.png}">
                                        </div>
                                        <div class="review-cont"><span id="count-2">(0)</span></div>
                                    </div>
                                    <div>
                                        <div class="review-star">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-off.png}">
                                            <img th:src="@{/img/star-icon-off.png}">
                                            <img th:src="@{/img/star-icon-off.png}">
                                            <img th:src="@{/img/star-icon-off.png}">
                                        </div>
                                        <div class="review-cont"><span id="count-1">(0)</span></div>
                                    </div>
                                </dd>
                            </dl>

                            <div class="common-btns">
                                <div class="btn-full-default" th:onclick="reviewLayer([[${item.id}]]);"><span>리뷰 작성하기</span></div>
                            </div>

                            <div class="review-txt">
                                <dl class="review-dl">
                                    <dt>
                                        <div class="review-star">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-on.png}">
                                        </div>
                                        <span class="review-reg-date">25/09/2022</span>
                                        <span class="review-reg-user" th:text="'${thymeleaf.utility.maskingName('+ 김교영 +')}'"></span>
                                    </dt>
                                    <dd>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </dd>
                                </dl>
                                <dl class="review-dl">
                                    <dt>
                                        <div class="review-star">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-on.png}">
                                            <img th:src="@{/img/star-icon-on.png}">
                                        </div>
                                        <span class="review-reg-date">25/09/2022</span>
                                        <span class="review-reg-user" th:text="'${thymeleaf.utility.maskingName('+ 이황 +')}'"></span>
                                    </dt>
                                    <dd>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-exp right-side item-element">
                    <input type="hidden" id="itemId" th:value="${item.id}" name="mainItemId">
                    <div class="product-sub-name" th:text="${item.winary}"></div>
                    <div class="product-name txt-line-2" th:text="${item.itemNm}"></div>
                    <div class="exp-fun">
                        <ul class="clfix">
                            <li>
                                <div class="number">
                                    <span class="minus">-</span>
                                    <input type="number" name="count" th:id="'count_' + ${item.id}" class="form-control" value="1" min="1" onchange="changeCount(this)"/>
                                    <span class="plus">+</span>
                                </div>
                            </li>
                            <li>
                                <div class="product-price">
<!--                                    <del class="origin-price" aria-hidden="true">-->
<!--                                        <span class="amount"><bdi>90,000</bdi>원</span>-->
<!--                                    </del>-->
                                    <div class="current-price">
                                        <span class="amount"><bdi id="totalPrice" th:data-price="${item.price}" data-th-text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}"></bdi></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="order-btns common-btns" th:if="${item.itemSellStatus == T(com.gowine.constant.ItemSellStatus).SELL}">
                            <div class="wishitem-btn" th:id="'isNotLike_' + ${item.id}">
                                <i class="fa fa-heart-o like-icon" aria-hidden="true" th:id="'like_' + ${item.id}"></i>
                                <span class="like-count hide">99</span>
                            </div>
                            <div class="wishitem-btn" th:id="'isLike_' + ${item.id}" style="display: none">
                                <i class="fa fa-heart like-icon" aria-hidden="true" th:id="'cancel-like_' + ${item.id}"></i>
                                <span class="like-count hide">99</span>
                            </div>
                            <div class="add-to-cart btn-border-default" th:onclick="addCart([[${item.id}]]);"><span>장바구니</span></div>
                            <div class="go-to-order btn-full-default" onclick="order();" th:data-id="${item.id}"><span>구매하기</span></div>
                        </div>

                        <div class="order-btns common-btns" th:unless="${item.itemSellStatus == T(com.gowine.constant.ItemSellStatus).SELL}">
                            <div class="wishitem-btn" th:id="'isNotLike_' + ${item.id}">
                                <i class="fa fa-heart-o like-icon" aria-hidden="true" th:id="'like_' + ${item.id}"></i>
                                <span class="like-count hide">99</span>
                            </div>
                            <div class="wishitem-btn" th:id="'isLike_' + ${item.id}" style="display: none">
                                <i class="fa fa-heart like-icon" aria-hidden="true" th:id="'cancel-like_' + ${item.id}"></i>
                                <span class="like-count hide">99</span>
                            </div>
                            <div class="add-to-cart btn-border-default" th:onclick="addCart([[${item.id}]]);"><span>장바구니</span></div>
                        </div>
                    </div>
                    <div class="exp-character char-list">
                        <dl>
                            <dt>Region</dt>
                            <dd class="txt-line-2" th:text="${item.wineRegion.getDisplayName()}"></dd>
                        </dl>
                        <dl>
                            <dt>Type</dt>
                            <dd th:text="${item.wineType.getDisplayName()}"></dd>
                        </dl>
                        <dl>
                            <dt>Grape</dt>
                            <dd th:text="${item.wineGrape.getDisplayName()}"></dd>
                        </dl>
                        <dl>
                            <dt>Vivino</dt>
                            <dd th:text="${item.vivinoRate == null ? '-' : item.vivinoRate}"></dd>
                        </dl>
                    </div>
                    <div class="exp-character char-input">
                        <dl>
                            <dt>Characteristics</dt>
                            <dd>
                                <div class="char-range">
                                    <div class="label">
                                        <div class="label-value">Acidity</div>
                                        <div class="input-box">
                                            <input class="input-range" type="range" min="0" max="100" th:value="${item.acidityPercent}" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="char-range">
                                    <div class="label">
                                        <div class="label-value">Body</div>
                                        <div class="input-box">
                                            <input class="input-range" type="range" min="0" max="100" th:value="${item.bodyPercent}" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="char-range">
                                    <div class="label">
                                        <div class="label-value">Tannins</div>
                                        <div class="input-box">
                                            <input class="input-range" type="range" min="0" max="100" th:value="${item.tanninPercent}" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="char-range">
                                    <div class="label">
                                        <div class="label-value">Sweetness</div>
                                        <div class="input-box">
                                            <input class="input-range" type="range" min="0" max="100" th:value="${item.sweetnessPercent}" disabled />
                                        </div>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="product-detail-body">
                <div class="related-item-cont">
                    <div class="heading-box">
                        <h2 class="heading-tit">연관 상품</h2>
                    </div>

                    <div class="content-box product-wrapper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide item-element" th:each="item : ${relatedItems}">
                                    <input type="hidden" id="itemId" th:value="${item.id}">
                                    <input type="hidden" th:id="'count_' + ${item.id}" name="count" th:value="1">
                                    <div class="products-entry">
                                        <a th:href="'/item/' + ${item.id}" class="info-link"></a>
                                        <div class="products-thumb">
                                            <div class="product-image">
                                                <img th:src="${item.imgUrl}" th:alt="${item.itemNm}">
                                            </div>
                                            <div class="add-cart-btn" th:onclick="addCart([[${item.id}]]);">장바구니 담기</div>
                                        </div>
                                        <div class="products-content">
                                            <div class="product-subname" th:text="${item.winary}"></div>
                                            <div class="product-name txt-line-2" th:text="${item.itemNm}"></div>
                                            <div class="product-price">
<!--                                                <del class="origin-price" aria-hidden="true">-->
<!--                                                    <span class="amount"><bdi>250,000</bdi>원</span>-->
<!--                                                </del>-->
                                                <div class="current-price">
                                                    <span class="amount"><bdi data-th-text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}"></bdi></span>
                                                </div>
<!--                                                <div class="per">30%</div>-->
                                            </div>
                                            <div class="product-rate">
                                                <span class="star-review-icon" th:style="'background-image: url(/img/star-icon-on.png)'">0.0 (0)</span>
                                            </div>
                                            <div class="wishitem-btn" th:id="'isNotLike_' + ${item.id}">
                                                <i class="fa fa-heart-o like-icon" aria-hidden="true" th:id="'like_' + ${item.id}"></i>
                                                <span class="like-count hide">99</span>
                                            </div>
                                            <div class="wishitem-btn" th:id="'isLike_' + ${item.id}" style="display: none">
                                                <i class="fa fa-heart like-icon" aria-hidden="true" th:id="'cancel-like_' + ${item.id}"></i>
                                                <span class="like-count hide">99</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-btn swiper-button-prev" th:style="'background-image: url(/img/slide-arrow.png)'"></div>
                        <div class="swiper-btn swiper-button-next" th:style="'background-image: url(/img/slide-arrow.png)'"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="reviewLayerPop">
        <div class="layerDimmed" onclick="fnClose(this)"></div>
        <div class="layerCont" id="reviewCont">

        </div>
    </div>

    <script src="/js/like.js"></script>
</div>
</html>