<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/pageLayout}">

<div layout:fragment="content">
    <div class="main-contaier">
        <section class="section-com container">
            <div class="list-box">
                <div class="left-side" id="search-filter">
                    <h2>검색 필터</h2>

                </div>
                <div class="right-side item-list">
                    <section class="product-container">
                        <ul th:each="item, status: ${items.getContent()}">
                            <li>
                                <div class="products-entry">
                                    <a th:href="'/item/' + ${item.id}" class="info-link"></a>
                                    <div class="products-thumb">
                                        <div class="product-image">
                                            <img th:src="${item.imgUrl}" th:alt="${item.itemNm}">
                                        </div>
                                        <div class="add-cart-btn">ADD TO CART</div>
                                    </div>
                                    <div class="products-content">
                                        <div class="product-subname">[[${item.winary}]]</div>
                                        <div class="product-name txt-line-2">[[${item.itemNm}]]</div>
                                        <div class="product-price">
<!--                                            <del class="origin-price" aria-hidden="true">-->
<!--                                                <span class="amount"><bdi>250,000</bdi>원</span>-->
<!--                                            </del>-->
                                            <div class="current-price">
                                                <span class="amount"><bdi data-th-text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}"></bdi></span>
                                            </div>
                                        </div>
                                        <div class="product-rate">
                                            <span class="star-review-icon" th:style="'background-image: url(/img/star-icon-on.png)'">0.0 (0)</span>
                                        </div>
                                        <div class="wishitem-btn">
                                            <span class="like-icon material-symbols-outlined">favorite</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </section>

    </div>
</div>

</html>