<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/pageLayout}">

<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>

<th:block layout:fragment="css">
    <style>

    </style>
</th:block>

<div layout:fragment="content">
    <div class="page-container container">
        <div class="page-title-wrapper">
            <div class="page-title text-center cart-process">
                <h2>장바구니</h2>
                <h2 class="_active">결제</h2>
            </div>
        </div>

        <div class="page-content cart-content clfix">
            <table class="table cart-table">
                <colgroup>
                    <col width="370">
                    <col>
                    <col>
                    <col width="120">
                    <col width="60">
                </colgroup>
                <thead>
                <tr class="text-center">
                    <td class="text-left">상품정보</td>
                    <td>상품금액</td>
                    <td>수량</td>
                    <td>합계</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cartItem : ${cartItems}">
                    <td>
                        <dl class="item-list-row">
                            <dt><img th:src="${cartItem.imgUrl}" th:alt="${cartItem.itemNm}"></dt>
                            <dd class="text-left">
                                <span th:text="${cartItem.itemNm}"></span>
                            </dd>
                        </dl>
                    </td>
                    <td>
                        <span th:id="'price_' + ${cartItem.cartItemId}" th:data-price="${cartItem.price}" data-th-text="${#numbers.formatInteger(cartItem.price, 3, 'COMMA') + '원'}"></span>
                    </td>
                    <td>
                        <!-- <input type="number" name="count" th:id="'count_' + ${cartItem.cartItemId}" th:value="${cartItem.count}" min="1" onchange="changeCount(this)">-->

                        <div class="number">
                            <span class="minus">-</span>
                            <input type="number" class="form-control" name="count" th:id="'count_' + ${cartItem.cartItemId}" th:value="${cartItem.count}" value="1" min="1" onchange="changeCount(this)"/>
                            <span class="plus">+</span>
                        </div>
                    </td>
                    <td>
                        <span th:id="'totalPrice_' + ${cartItem.cartItemId}" name="totalPrice" data-th-text="${#numbers.formatInteger(cartItem.price * cartItem.count, 3, 'COMMA') + '원'}"></span>
                    </td>
                </tr>

                </tbody>
            </table>


            <div th:each="order : ${orders.getContent()}" class="orderWrap"> <!-- OrderController 의  model.addAttribute("orders", orderHistDtoList) -->
                <div class="d-flex mb-3 align-self-center">
                    <h4 th:text="${order.orderDate} + '주문'"></h4>
                    <div class="ml-3">
                        <th:block th:if="${order.orderStatus == T(com.gowine.constant.OrderStatus).ORDER}">
                            <button type="button" class="btn btn-outline-secondary" th:value="${order.orderId}" onclick="cancelOrder(this.value)">주문취소</button>
                        </th:block>
                        <th:block th:unless="${order.orderStatus == T(com.gowine.constant.OrderStatus).ORDER}">
                            <h4>(취소 완료)</h4>
                        </th:block>
                    </div>
                </div>

                <div class="card d-flex">
                    <div th:each="orderItem : ${order.orderItemDtoList}" class="d-flex mb-3">
                        <div class="repImgDiv">
                            <img th:src="${orderItem.imgUrl}" class="rounded repImg" th:alt="${orderItem.itemNm}">
                        </div>
                        <div class="align-self-center w-75">
                            <span th:text="${orderItem.itemNm}" class="fs24 font-weight-bold"></span>
                            <div class="fs18 font-weight-light">
                                <span th:text="${orderItem.orderPrice} + '원'"></span>
                                <span th:text="${orderItem.count} + '개'"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</html>