<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/pageLayout}">

<div layout:fragment="content">
    <div class="page-container container w100">

        <div class="page-title-wrapper">
            <div class="page-title-col text-center">
                <h2>유저의 리얼 리뷰</h2>
                <p>와인의 경험을 함께 나누세요!</p>
            </div>
        </div>

        <div class="page-content">
            <div class="list-col-container">
                <ul class="review-list">
                    <li>
                        <a href="#" class="info-link"></a>
                        <dl class="item-list-row">
                            <dt><img th:src="@{/img/wine-1.png}" alt=""></dt>
                            <dd>
                                <div class="user-info"><span class="userNm">김교영</span><span class="regDate">2일전</span></div>
                                <div class="wine-info">
                                    <span class="wineNm">HRB Shiraz 2008 750ml</span>
                                    <span>프랑스</span>
                                    <span>진판델</span>
                                    <span>레드</span>
                                    <span>VIVINO 4.4</span>
                                </div>
                                <div class="review-txt txt-line-2">
                                    영롱한 색 정말 맘에 들었습니다.
                                </div>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <a href="#" class="info-link"></a>
                        <dl class="item-list-row">
                            <dt><img th:src="@{/img/wine-1.png}" alt=""></dt>
                            <dd>
                                <div class="user-info"><span class="userNm">김교영</span><span class="regDate">2024.02.10</span></div>
                                <div class="wine-info">
                                    <span class="wineNm">HRB Shiraz 2008 750ml</span>
                                    <span>프랑스</span>
                                    <span>진판델</span>
                                    <span>레드</span>
                                    <span>VIVINO 4.4</span>
                                </div>
                                <div class="review-txt txt-line-2">
                                    영롱한 색 정말 맘에 들었습니다.
                                </div>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <a href="#" class="info-link"></a>
                        <dl class="item-list-row">
                            <dt><img th:src="@{/img/wine-1.png}" alt=""></dt>
                            <dd>
                                <div class="user-info"><span class="userNm">김교영</span><span class="regDate">2024.02.10</span></div>
                                <div class="wine-info">
                                    <span class="wineNm">HRB Shiraz 2008 750ml</span>
                                    <span>프랑스</span>
                                    <span>진판델</span>
                                    <span>레드</span>
                                    <span>VIVINO 4.4</span>
                                </div>
                                <div class="review-txt txt-line-2">
                                    영롱한 색 정말 맘에 들었습니다.
                                </div>
                            </dd>
                        </dl>
                    </li>
                    <li class="last">
                        <a href="#" class="info-link"></a>
                        <dl class="item-list-row">
                            <dt><img th:src="@{/img/wine-1.png}" alt=""></dt>
                            <dd>
                                <div class="user-info"><span class="userNm">김교영</span><span class="regDate">2024.02.10</span></div>
                                <div class="wine-info">
                                    <span class="wineNm">HRB Shiraz 2008 750ml</span>
                                    <span>프랑스</span>
                                    <span>진판델</span>
                                    <span>레드</span>
                                    <span>VIVINO 4.4</span>
                                </div>
                                <div class="review-txt txt-line-2">
                                    영롱한 색 정말 맘에 들었습니다.
                                </div>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
</html>