<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/pageLayout}">

<div layout:fragment="content">
    <div class="page-container container">

        <div class="page-title-wrapper">
            <div class="page-title text-center">
                <a href="/">Home</a>
                <span class="brn_arrow">/</span>
                <span class="current">My Dashboard</span>
            </div>
        </div>

        <div class="page-content">

        </div>
    </div>
</div>
</html>