<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <!--sec:authorize="isAuthenticated()"-->

<div th:fragment="header">
    <script>
        $(function(){
            updateCartCount();
        });

        function updateCartCount() {
            $.ajax({
                url: "/cart/getCartCount", // 장바구니 정보를 가져오는 서버의 엔드포인트
                method: "GET",
                success: function(data) {
                    $("#cart-count-text").text(data); // UI에 장바구니 수량을 반영
                },
                error: function(xhr, status, error) {
                    console.error("Error getting cart count:", error);
                }
            });
        }

    </script>

    <header id="header" class="header-container">
        <div class="header-template">
            <div class="m-header"></div>
            <div class="w-header">
                <div class="header-wrapper">
                    <div class="header-top">
                        <div class="search-box">
                            <div class="search-toggle" onclick="fnOpen();"><i class="fa fa-search ico-search"></i></div>
                        </div>
                        <div class="header-logo">
                            <a href="/">gowine</a>
                        </div>
                        <div class="right-side-icon">
                            <!-- // 로그인 전  sec:authorize="isAnonymous()" -->
                            <div class="login-header before-login" sec:authorize="isAnonymous()">
                                <a href="/members/login" class="account-btn">Login</a>
                            </div>
                            <!-- 로그인 전 // -->

                            <!-- //  일반 유저 로그인 후 sec:authorize="hasAnyAuthority('ROLE_USER')" -->
                            <!--th:if="${#authorization.expression('isAuthenticated()')}"-->
                            <div sec:authorize="hasAnyAuthority('ROLE_USER')">
                                <div class="login-header after-login _user">
                                    <!--<h3 class="account-btn">Hi, <span th:text="${#authentication.principal}"></span>님</h3>-->
                                    <h3 class="account-btn"><i class="fa fa-user-o ico-user"></i></h3>
                                    <div class="dropdown-container login-after-layer">
                                        <ul>
                                            <li><a href="/members/my">마이페이지</a></li>
                                            <li><a href="/favorite">찜 상품</a></li>
                                            <li><a href="/members/logout">로그아웃</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="cart-box clfix">
                                    <a href="/cart" class="info-link"></a>
                                    <span class="cart-text">Cart</span>
                                    <span class="cart-count text-center" id="cart-count-text">0</span>
                                </div>
                            </div>
                            <!-- 일반 유저 로그인 후 // -->

                            <!-- //  관리자 로그인 후 -->
                            <div class="login-header after-login _admin" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                <h3 class="account-btn">안녕하세요, 관리자님</h3>
                                <div class="dropdown-container login-after-layer">
                                    <ul>
                                        <li><a href="/admin/main">관리자 페이지로 이동</a></li>
                                        <li><a href="/members/logout">로그아웃</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- //  관리자 로그인 후 -->

                        </div>
                    </div>
                    <div class="header-bottom">
                        <div class="header-menu">
                            <nav class="nav-center">
                                <ul class="clfix">
                                    <li><a href="/about" class="info-link"></a>MARKET</li>
                                    <li><a href="/product/list" class="info-link"></a>SHOP WINES</li>
                                    <li><a href="#" class="info-link"></a>EVENT</li>
                                    <li><a href="/board/community" class="info-link"></a>COMMUNITY</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>
</div>

</html>