<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <!--sec:authorize="isAuthenticated()"-->

<head>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function selectList() {
             let keyword = $("input[name='searchQuery']").val();

             console.log(keyword);

             let header = $("meta[name='_csrf_header']").attr('content');
             let token = $("meta[name='_csrf']").attr('content');

            $.ajax({
                url: "/searchResult",
                type: "GET",
                dataType : "json",
		        data : {"keyword": keyword},
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                success: function(data) {
                    console.log("성공");
                },
                error: function(xhr, status, error) {
                    console.error("Ajax 에러:", error);
                }
            });
        }
    </script>
</th:block>

<div th:fragment="modal">

    <div class="modal-container" id="search-layer">
        <div class="modal-dimmed" onclick="fnClose(this);"></div>
        <div class="modal-content">
<!--            <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">-->

            <div class="title">
                <p class="search-header-text">상품 검색 결과(0)</p>
                <div class="close-icon" onclick="fnClose(this);"><span class="material-symbols-outlined">close</span></div>
            </div>

            <div class="cont">
                <div class="search-input-box">
<!--                    <form th:action="@{/}" method="get">-->
                        <input name="searchQuery" type="search" class="input-text" placeholder="검색어를 입력해주세요" aria-label="Search" onkeyup="selectList()">
                        <button class="search-icon" type="submit"></button>
<!--                    </form>-->
                </div>

                <!--  검색했을 때 화면
                <div class="center" th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}">
                    <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색결과'"></p>
                </div>
                -->
                <div class="center">
                    <ul class="search-resultGrid ">
                        <li class="search-item">
                            <div class="products-entry">
                                <a href="/item/detail" class="info-link"></a>
                                <div class="products-thumb">
                                    <div class="product-image">
                                        <img th:src="@{/img/wine-2.png}" alt="">
                                    </div>
                                    <div class="add-cart-btn">ADD TO CART</div>
                                </div>
                                <div class="products-content">
                                    <div class="product-subname">Poggio Scalette</div>
                                    <div class="product-name txt-line-2">Il Carbonaione Alta Valle della Greve 2011 750ml</div>
                                    <div class="product-price">
                                        <del class="origin-price" aria-hidden="true">
                                            <span class="amount"><bdi>250,000</bdi>원</span>
                                        </del>
                                        <div class="current-price">
                                            <span class="amount"><bdi>175,000</bdi>원</span>
                                        </div>
                                    </div>
                                    <div class="product-rate">
                                        <span class="star-review-icon" th:style="'background-image: url(/img/star-icon-on.png)'">0.0 (0)</span>
                                    </div>
                                    <div class="wishitem-btn">
                                        <span class="like-icon material-symbols-outlined">favorite</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="search-item">
                            <div class="products-entry">
                                <a href="/item/detail" class="info-link"></a>
                                <div class="products-thumb">
                                    <div class="product-image">
                                        <img th:src="@{/img/wine-2.png}" alt="">
                                    </div>
                                    <div class="add-cart-btn">ADD TO CART</div>
                                </div>
                                <div class="products-content">
                                    <div class="product-subname">Poggio Scalette</div>
                                    <div class="product-name txt-line-2">Il Carbonaione Alta Valle della Greve 2011 750ml</div>
                                    <div class="product-price">
                                        <del class="origin-price" aria-hidden="true">
                                            <span class="amount"><bdi>250,000</bdi>원</span>
                                        </del>
                                        <div class="current-price">
                                            <span class="amount"><bdi>175,000</bdi>원</span>
                                        </div>
                                    </div>
                                    <div class="product-rate">
                                        <span class="star-review-icon" th:style="'background-image: url(/img/star-icon-on.png)'">0.0 (0)</span>
                                    </div>
                                    <div class="wishitem-btn">
                                        <span class="like-icon material-symbols-outlined">favorite</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="search-item">
                            <div class="products-entry">
                                <a href="/item/detail" class="info-link"></a>
                                <div class="products-thumb">
                                    <div class="product-image">
                                        <img th:src="@{/img/wine-2.png}" alt="">
                                    </div>
                                    <div class="add-cart-btn">ADD TO CART</div>
                                </div>
                                <div class="products-content">
                                    <div class="product-subname">Poggio Scalette</div>
                                    <div class="product-name txt-line-2">Il Carbonaione Alta Valle della Greve 2011 750ml</div>
                                    <div class="product-price">
                                        <del class="origin-price" aria-hidden="true">
                                            <span class="amount"><bdi>250,000</bdi>원</span>
                                        </del>
                                        <div class="current-price">
                                            <span class="amount"><bdi>175,000</bdi>원</span>
                                        </div>
                                    </div>
                                    <div class="product-rate">
                                        <span class="star-review-icon" th:style="'background-image: url(/img/star-icon-on.png)'">0.0 (0)</span>
                                    </div>
                                    <div class="wishitem-btn">
                                        <span class="like-icon material-symbols-outlined">favorite</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="search-item">
                            <div class="products-entry">
                                <a href="/item/detail" class="info-link"></a>
                                <div class="products-thumb">
                                    <div class="product-image">
                                        <img th:src="@{/img/wine-2.png}" alt="">
                                    </div>
                                    <div class="add-cart-btn">ADD TO CART</div>
                                </div>
                                <div class="products-content">
                                    <div class="product-subname">Poggio Scalette</div>
                                    <div class="product-name txt-line-2">Il Carbonaione Alta Valle della Greve 2011 750ml</div>
                                    <div class="product-price">
                                        <del class="origin-price" aria-hidden="true">
                                            <span class="amount"><bdi>250,000</bdi>원</span>
                                        </del>
                                        <div class="current-price">
                                            <span class="amount"><bdi>175,000</bdi>원</span>
                                        </div>
                                    </div>
                                    <div class="product-rate">
                                        <span class="star-review-icon" th:style="'background-image: url(/img/star-icon-on.png)'">0.0 (0)</span>
                                    </div>
                                    <div class="wishitem-btn">
                                        <span class="like-icon material-symbols-outlined">favorite</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</html>