<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="modal">
    <div class="modal-container" id="search-layer">
        <div class="modal-dimmed" onclick="fnClose(this);"></div>
        <div class="modal-content">
<!--            <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">-->

            <div class="title">
                <p class="search-header-text">상품 검색 결과(<span id="searchCount">0</span>)</p>
                <div class="close-icon" onclick="fnClose(this);"><span class="material-symbols-outlined">close</span></div>
            </div>

            <div class="cont">
                <div class="search-input-box">
                    <input name="searchQuery" type="text" class="input-text" placeholder="검색어를 입력해주세요">
                </div>

                <div class="center">
                    <ul class="search-resultGrid" id="searchResultBody">

                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

</html>