/* 공통모듈 CSS - common.css */

:root {
    --container-width: 1480px;
    --main-bg: #fff;
    --main-black: #101010;
    --point-color: #CA8A7F;
    --point-color-sub: #EB4140;
    --border-color: #E7E8E3;
    --main-root-font-size: 10px;
    --main-h1-font-size: 48px;
    --main-h1-line-height: 54px;
    --main-h1-letter-spacing: 3.6px;
    --main-h2-font-size: 36px;
    --main-h2-line-height: 40px;
    --main-h2-letter-spacing: 2.5px;
    --main-h3-font-size: 30px;
    --main-h3-line-height: 36px;
    --main-h3-letter-spacing: 2px;
    --main-h4-font-size: 25px;
    --main-h4-line-height: 30px;
    --main-h4-letter-spacing: 1.2px;
    --main-h5-font-size: 20px;
    --main-h5-line-height: 28px;
    --main-h5-letter-spacing: 1px;
    --main-h6-font-size: 18px;
    --main-h6-line-height: 24px;
    --main-h6-letter-spacing: 0.9px;
    --main-h1-mobile-font-size: 30px;
    --main-h1-mobile-line-height: 36px;
    --main-h1-mobile-letter-spacing: 1.2px;
    --main-h2-mobile-font-size: 25px;
    --main-h2-mobile-line-height: 30px;
    --main-h2-mobile-letter-spacing: 1px;
    --main-h3-mobile-font-size: 20px;
    --main-h3-mobile-line-height: 28px;
    --main-h3-mobile-letter-spacing: 0.9px;
    --main-h4-mobile-font-size: 18px;
    --main-h4-mobile-line-height: 24px;
    --main-h4-mobile-letter-spacing: 0.75px;
    --main-h5-mobile-font-size: 16px;
    --main-h5-mobile-line-height: 24px;
    --main-h5-mobile-letter-spacing: 0.75px;
    --main-h6-mobile-font-size: 15px;
    --main-h6-mobile-line-height: 24px;
    --main-h6-mobile-letter-spacing: 0.75px;
}

html {
    font-size: var( --main-root-font-size);
}

body._modalActive {
    overflow-y:hidden;
}

.container {
    padding: 0 50px;
}

.hide {
    position: absolute !important;
    left: -99999px !important;
    opacity: 0;
    visibility: hidden;
}

/***** float 정렬 *****/
.clfix::after {
    display: block;
    content: '';
    clear: both;
}

/***** 텍스트 정렬 *****/
.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right  {
    text-align: right !important;
}

/***** 링크 감싸는 css *****/
.info-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bottom-btn {
    margin-top: 50px;
    text-align: center;
}

/***** 체크박스 커스텀 *****/
input[type=checkbox] ~ label {
    display: block;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] ~ label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.5em;
    color: transparent;
    transition: .2s;
    box-sizing: border-box;
}

input[type=checkbox] ~ label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked ~ label:before {
    background-color: var(--point-color);
    border-color: var(--point-color);
    color: #fff;
}

input[type=checkbox]:disabled ~ label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checkbox]:checked:disabled ~ label:before {
    transform: scale(1);
    background-color:  var(--point-color);
    border-color: var(--point-color);
}

input.input-text {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    font-size: 16px;
    font-family: 'Pretendard';
}

/***** 버튼 컴포넌트 *****/
.btn-default {
    padding: 8px 16px;
    border: 1px solid;
    font-size: 14px;
    cursor: pointer;
}

/***** 버튼 공통 효과 *****/
.common-btns .btn-full-default,
.common-btns .btn-border-default {
    position: relative;
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
}

.common-btns > div span {
    position: relative;
    z-index: 1;
    transition: all .4s;
}

.common-btns .btn-border-default {
    border: 1px solid var(--point-color);
    color: var(--point-color);
}

.common-btns .btn-border-default::before {
    content: '';
    position: absolute;
    left:0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition: all .4s;
    transform: translateY(102%) translateZ(0);
    background-color: #262A2A;
}

.common-btns .btn-border-default:hover::before {
    transform: translateY(0) translateZ(0);
}

.common-btns .btn-border-default:hover span {
    color: #fff;
}

.common-btns .btn-full-default {
    background-color: var(--point-color);
    color: #fff;
}

.common-btns .btn-full-default::before {
    content: '';
    position: absolute;
    left:0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition: all .4s;
    transform: translateY(101%) translateZ(0);
    background-color: #262A2A;
}

.common-btns .btn-full-default:hover::before {
    transform: translateY(0) translateZ(0);
}

/***** text-overflow *****/
.txt-line-2 {
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/***** 섹션 타이틀 공통 *****/
.heading-box {
    margin-bottom: 52px;
}

.heading-box .heading-tit {
    font-family: 'NanumSquare';
    font-weight: 700;
    font-size: var(--main-h3-font-size);
}

/***** 헤더 *****/
.header-container .w-header {
    width: 100%;
    background-color: var(--main-bg);
    box-shadow: 0 3px 5px rgba(0,0,0,0.05);
}

.header-container.fixed .w-header .header-bottom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    animation: fixed .4s ease-in-out;
    background-color: rgba(255,255,255,.8);
}

.header-container.fixed .w-header .header-top .header-logo {
    opacity: 0;
}

@keyframes fixed {
    0%{
      -webkit-transform:translateY(-100%);
      transform:translateY(-100%); }
    to{
      -webkit-transform:translateY(0);
      transform:translateY(0); }
}

@-webkit-keyframes fixed {
0%{
    -webkit-transform:translateY(-100%);
    transform:translateY(-100%); }
to{
    -webkit-transform:translateY(0);
    transform:translateY(0); }
}

.header-wrapper .header-top {
    position: relative;
    padding: 4px 16px 10px;
    border-bottom: 1px solid var(--border-color);
}

.header-wrapper .search-box {
    z-index: 4;
    position: fixed;
    top: 20px;
    left: 22px;
    cursor: pointer;
}

.header-wrapper .search-box  .ico-search {
    font-size: 22px;
    transition: 0.3s;
}

.header-wrapper .search-box  .search-toggle:hover .ico-search {
    margin-top: -3px;
    color: var(--point-color);
}


.header-wrapper .header-logo {
    font-size: 44px;
    font-family: 'Barriecito';
    text-align: center;
    transition: 0.6s;
}

.header-wrapper .right-side-icon {
    position:relative;
    z-index: 4;
    font-family: 'NanumSquare';
}

.header-wrapper .login-header {
    z-index: 3;
    position: fixed;
    top: 0;
    padding: 20px 0;
    cursor: pointer;
}

.header-wrapper .login-header.before-login {
    right: 30px;
}

.header-wrapper .login-header.after-login._user {
    right: 120px;
    padding: 0;
    width: 60px;
    height: 60px;
    line-height: 67px;
    text-align: center;
}

.header-wrapper .login-header.after-login._admin {
    right: 30px;
}

.header-wrapper .login-header .account-btn {
    position: relative;
    padding-right: 24px;
    font-weight: 700;
}

.header-wrapper .login-header.after-login._user .account-btn {
    padding:0;
}

.header-wrapper .login-header.after-login._user .account-btn .ico-user {
    font-size: 25px;
    font-weight: 600;
    transition: 0.3s;
}

.header-wrapper .login-header .account-btn::before {
    content: '';
    position: absolute;
    top:6px;
    right:7px;
    transform: rotate(-45deg);
    width: 2px;
    height: 8px;
    background-color: var(--main-black);
    transition: all .3s;
}

.header-wrapper .login-header .account-btn::after {
    content: '';
    position: absolute;
    top:6px;
    right: 1px;
    transform: rotate(45deg);
    width: 2px;
    height: 8px;
    background-color: var(--main-black);
    transition: all .3s;
}

.header-wrapper .login-header .account-btn:hover::before {
    top: 8px;
}

.header-wrapper .login-header .account-btn:hover::after {
    top: 8px;
}

.header-wrapper .login-header.after-login._user .account-btn::before,
.header-wrapper .login-header.after-login._user .account-btn::after {
    display: none;
}

.header-wrapper .login-header.after-login._user .account-btn:hover .ico-user {
    color: var(--point-color);
    margin-top: -3px;
}

.header-wrapper .login-header .dropdown-container {
    display: none;
    position: fixed;
    right: 154px;
    top: 58px;
    min-width: 116px;
    padding: 16px 34px;
    background-color: var(--main-bg);
    box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.header-wrapper .login-header.after-login._admin .dropdown-container {
    right: 30px;
}

.header-wrapper .login-header.after-login._user .dropdown-container {
    right: 100px;
}

.header-wrapper .login-header .dropdown-container ul {
    line-height: 36px;
    text-align:center;
    font-size: 17px;
}

.header-wrapper .login-header .dropdown-container ul li a:hover {
    color: var(--point-color);
}

.header-wrapper .cart-box {
    z-index: 3;
    position: fixed;
    top: 0;
    right: 16px;
    cursor: pointer;
}

.header-wrapper .cart-box .cart-text {
    float: left;
    margin-top: 21px;
    margin-right: 20px;
    font-weight: bold;
}

.header-wrapper .cart-box .cart-text:hover {
    color: var(--point-color);
}

.header-wrapper .cart-box .cart-count {
    display: inline-block;
    width: 36px;
    height: 46px;
    background-color: var(--main-black);
    color: #fff;
    font-size: 15px;
    border-radius: 0 0 25px 25px;
    line-height: 58px;
    text-align: center;
    font-family: 'Pretendard';
}

.header-wrapper .header-bottom {
    border-bottom: 1px solid var(--border-color);

}

.header-wrapper .header-bottom .header-menu .nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrapper .header-bottom .header-menu ul li {
    position: relative;
    float: left;
    padding: 20px 25px;
    cursor: pointer;
    font-weight: 500;
}

.login-after-layer {
    display: none;
}

 /***** 푸터 *****/
.footer-container {
    margin-top: 120px;
    padding: 60px 0;
    background-color: #F6F6F6;
    font-family: 'Pretendard';
    font-size: 14px;
    line-height: var(--main-h5-line-height);
    letter-spacing: var( --main-h5-letter-spacing);
}

.footer-container .footer-logo {
    font-size: 44px;
    font-family: 'Barriecito';
    text-align: center;
    transition: 0.6s;
}

.footer-container address {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
}

.footer-container address > span {
    float: left;
}

.footer-container address > span:not(:last-child) {
    margin-right: 10px;
}

.footer-container address span > em {
    margin-right: 4px;
    font-style: normal;
    color: #999;
}

.footer-container .footer-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55px;
    margin: 0 auto;
}
.footer-container .footer-icon li {
    position: relative;
}

.footer-container .footer-icon li img {
    max-width: 18px;
}

.footer-container .copyright {
    margin-top: 26px;
    padding-top: 18px;
    border-top:1px solid #ddd;
    font-size: 12px;
    font-family: 'Manrope';
}

/***** 모달 팝업 *****/
.modal-container {

}

.modal-container .modal-dimmed {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: "";
    background: rgba(0,0,0,0.5);
    z-index: 99991;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.modal-container.active .modal-dimmed {
    visibility: visible;
    opacity: 1;
}

.modal-container .modal-content {
    position: fixed;
    padding: 30px;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99992;
    width: 800px;
    max-width: 100%;
    transform: translateX(800px);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    overflow-y: auto;
    color: var(--main-black);
    background-color: #F6F6F6;
}

.modal-container.active .modal-content {
    transform: translateX(0px);
    box-shadow: -3px 0 21px rgba(63,63,63,0.15);
}

/* 스크롤바 전체 기본 꾸미기 */
.modal-container .modal-content::-webkit-scrollbar {
	width: 9px;
}

/* 스크롤바 막대 꾸미기 */
.modal-container .modal-content::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 50px;
}

/* 스크롤바 트랙 꾸미기 */
.modal-container .modal-content::-webkit-scrollbar-track {
	background-color: #e8e8e8;
}

.modal-container .modal-content .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-container .modal-content .title .close-icon {
    cursor: pointer;
    font-size: 25px;
}

.modal-container .modal-content .cont {
    margin-top: 28px;
}

/* 상품 검색 */
.search-resultGrid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 20px;
}

.search-resultGrid .search-item:nth-of-type(odd) {
    border-right: 1px solid #262A2A;
}

.search-resultGrid .products-entry {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.search-resultGrid .products-entry::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    height: 1px;
    background-color: #262A2A;
}

.search-resultGrid .products-entry .products-thumb {
    flex:2;
}

.search-resultGrid .products-entry .products-thumb .product-image img {
    width: 100%;
    height: 100%;
}

.search-resultGrid .products-entry .products-thumb .add-cart-btn {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateY(15px) translateX(-50%);
    width: 90%;
    padding: 10px 0;
    font-size: 12px;
}

.search-resultGrid .products-entry .products-thumb:hover .add-cart-btn {
    opacity: 1;
    visibility: visible;
    transform: translateY(5px) translateX(-50%);
}

.search-resultGrid .products-entry .products-content {
    flex: 4;
}

.search-resultGrid .products-entry .products-content .product-name {
    min-height: 46px;
    font-size: 16px;
}

.search-resultGrid .products-entry .products-content .product-price {
    font-size: 17px;
}

.search-resultGrid .products-entry .products-content .product-price .current-price {
    color: var(--point-color);
}

/***** 미디어 쿼리 *****/
@media (min-width: 1440px){
    .container{
        max-width: 1370px;
        margin: 0 auto;
    }
}

@media (min-width: 1600px) {
    .modal-container .modal-content  {
        /*width: 500px;
        transform: translateX(500px);*/
        padding: 50px;
    }
}
