<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout}">

<div layout:fragment="content">
    <div th:replace="~{fragments_admin/aside::aside}"></div>

    <section class="section-cont">
        <h3 class="section-title">회원 목록</h3>

        <form th:action="@{'/admin/members/'+${members.number}}" role="form" method="get" th:object="${members}">
            <table class="table">
                <thead>
                    <tr>
                        <td>아이디</td>
                        <td>구분</td>
                        <td>성명</td>
                        <td>가입일</td>
                        <!--<td>총 구매금액</td>-->
                        <td>정보 동의 여부</td>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="member, status : ${members.getContent()}">
                    <td th:text="${member.email}"></td>
                    <td th:text="${member.provider == null ? '일반가입 회원' : '소셜가입 회원'}"></td>
                    <td th:text="${member.name}"></td>
                    <td th:text="${#temporals.format(member.regTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                        <p>이용약관 동의 : <span th:text="${member.useAgree == true ? 'Y' : 'N'}"></span></p>
                        <p>개인정보 동의 : <span th:text="${member.privacyAgree == true ? 'Y' : 'N'}"></span></p>
                        <p>쇼핑정보 수신 동의 : <span th:text="${member.infoAgree == true ? 'Y' : 'N'}"></span></p>
                    </td>
                </tr>
                </tbody>
            </table>

            <div th:if="${not #lists.isEmpty(members)}">
                <div th:with="start=${(members.number/maxPage)*maxPage + 1}, end=(${(members.totalPages == 0) ? 1 : (start + (maxPage-1) < members.totalPages ? start + (maxPage-1) : members.totalPages) })">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${members.first}?'disabled'">
                            <a th:onclick="'javascript:page('+${members.number - 1} + ')'" aria-label="Previous" class="page-link">
                                <span aria-hidden="true" th:style="'background-image: url(/img/arrow-right.png)'" class="page-prev"></span>
                            </a>
                        </li>
                        <li class="page-item" th:each="page: ${#numbers.sequence(start,end)}" th:classappend="${members.number eq page-1} ? 'active' : '' ">
                            <a th:onclick="'javascript:page(' + ${page-1} + ')'" th:inline="text" class="page-link">
                                [[${page}]]
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${members.last} ? 'disabled'">
                            <a th:onclick="'javascript:page(' + ${members.number + 1} + ')'" aria-label="Next" class="page-link">
                                <span aria-hidden="true" th:style="'background-image: url(/img/arrow-right.png)'" class="page-next"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </form>

    </section>
</div>
</html>