<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/indexLayout}">

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).on("click", ".goResult", function() {
            let mbti = $("#mbtiRes").val();

            if(mbti == "ESTJ") {
                mbti = "MALBAC";
            } else if(mbti == "INFP") {
                mbti = "MERLOT";
            } else if(mbti == "ENTP") {
                mbti = "ZINFANDEL";
            } else if(mbti == "ESFP") {
                mbti = "CABERNET_SAUVIGNON";
            } else if(mbti == "ENFP") {
                mbti = "ETC";
            } else if(mbti == "ENFJ") {
                mbti = "CABERNET_SAUVIGNON";
            } else if(mbti == "ESTP") {
                mbti = "ETC";
            } else if(mbti == "INTJ") {
                mbti = "TEMPRANILLO";
            } else if(mbti == "INTP") {
                mbti = "RIESLING";
            } else if(mbti == "ISFJ") {
                mbti = "PRIMITIVO";
            } else if(mbti == "ENTJ") {
                mbti = "PINOT_NOIR";
            } else if(mbti == "ISFP") {
                mbti = "BLEND";
            } else if(mbti == "ESFJ") {
                mbti = "SAUVIGNON_BLANC";
            } else if(mbti == "ISTJ") {
                mbti = "MERLOT";
            } else if(mbti == "INFJ") {
                mbti = "SHIRAZ";
            } else if(mbti == "ISTP") {
                mbti = "BLEND";
            }

            $.ajax({
                url: "/searchMbtiItem",
                type: "GET",
                data : {"mbti": mbti},
                success: function(data) {
                    console.log(data);
                    $(".goResult").hide();

                    let itemHtml = "";

                    if(mbti == "MALBAC") {
                        itemHtml += "<h2>말백 - 겉은 평온 속은 불타는 휴화산 CEO 🍷</h2>";
                    } else if(mbti == "MERLOT") {
                        itemHtml += "<h2>멜롯 - 섬세한 예술가 타입 🍷</h2>";
                    } else if(mbti == "ZINFANDEL") {
                        itemHtml += "<h2>진판델 - 뜨거운 프로 직진러 🍾</h2>";
                    } else if(mbti == "CABERNET_SAUVIGNON") {
                        itemHtml += "<h2>까베르네 쇼비뇽 - 달콤 쌉싸름 당신은 파티피플 🍾</h2>";
                    } else if(mbti == "ETC") {
                        itemHtml += "<h2>피노누아 - 뜨거운 인싸 꿈나무 🍾</h2>";
                    } else if(mbti == "CABERNET_SAUVIGNON") {
                        itemHtml += "<h2>까베르네 쇼비뇽 - 시원 씁쓸한 맛을 즐기는 오지라퍼 🍷</h2>";
                    } else if(mbti == "ETC") {
                        itemHtml += "<h2>블렌드 - 트렌디 꿈나무 직진러 🍷</h2>";
                    } else if(mbti == "TEMPRANILLO") {
                        itemHtml += "<h2>템프라니요 - 포근함을 품은 인공지능 전자두뇌 🍷</h2>";
                    } else if(mbti == "RIESLING") {
                        itemHtml += "<h2>리슬링 - 미지근함이 어울리는 프로 미루기 왕 🍷</h2>";
                    } else if(mbti == "PRIMITIVO") {
                        itemHtml += "<h2>퍼미티보 - 츤데레 곁들인 착한 꼰대 🍷</h2>";
                    } else if(mbti == "PINOT_NOIR") {
                        itemHtml += "<h2>피노누아 - 따뜻한 카리스마의 야심가 🍾</h2>";
                    } else if(mbti == "BLEND") {
                        itemHtml += "<h2>블렌드 - 따뜻함과 부드러운 프로 긍정러 🍾</h2>";
                    } else if(mbti == "SAUVIGNON_BLANC") {
                        itemHtml += "<h2>쇼비뇽 블랑 - 시원시원한 핵인싸 🍾</h2>";
                    } else if(mbti == "MERLOT") {
                        itemHtml += "<h2>멜롯 - 내 인생은 FM 🍾</h2>";
                    } else if(mbti == "SHIRAZ") {
                        itemHtml += "<h2>쉬라즈 - 당신은 겉차속따 🍾</h2>";
                    } else if(mbti == "BLEND") {
                        itemHtml += "<h2>블렌드 - 뜨겁지만 쿨한 마이웨이 🍾</h2>";
                    }

                    for(let i = 0; i < data.length; i++) {
                        itemHtml += "<div class='search-item'>";
                        itemHtml += "    <div class='products-entry'>";
                        itemHtml += "        <a href='/item/" + data[i].id  + "' class='info-link'></a>";
                        itemHtml += "        <div class='products-thumb'>";
                        itemHtml += "            <div class='product-image'>";
                        itemHtml += "                <img src='" + data[i].imgUrl + "' alt='" + data[i].id + "'>";
                        itemHtml += "            </div>";
                        itemHtml += "        </div>";
                        itemHtml += "        <div class='products-content'>";
                        itemHtml += "            <div class='product-subname'>" + data[i].winary + "</div>";
                        itemHtml += "            <div class='product-name txt-line-2'>" + data[i].itemNm + "</div>";
                        itemHtml += "        </div>";
                        itemHtml += "    </div>";
                        itemHtml += "</div>";
                    }

                    $("#mbtiResultBody").append(itemHtml);
                },
                error: function(xhr, status, error) {
                    console.error("Ajax 에러:", error);
                }
            });
        });
    </script>
</th:block>

<div layout:fragment="content" class="main-container">
    <section class="main-banner">
        <div class="banner-wrap">
            <img th:src="@{/img/main-banner.jpg}" alt="">
            <div class="banner-btn">
                <a href="/product/list">SHOP WINES</a>
            </div>
        </div>
    </section>

    <section class="section-com container">
        <div class="product-wrapper sale-product">
            <a href="#" class="product-more-btn">SEE ALL</a>
            <div class="heading-box">
                <h2 class="heading-tit">타임세일</h2>
                <div class="counter-wrapper">
                    <div class="days hide" data-days="00">
                        <div class="number-wrapper">
                            <span class="number">00</span>
                        </div>
                        <div class="ref-wrapper">days</div>
                    </div>
                    <div class="hours" data-hours="03">
                        <div class="number-wrapper">
                            <span class="number">03</span>
                        </div>
                        <div class="ref-wrapper">Hours</div>
                    </div>
                    <span class="dots">:</span>
                    <div class="minutes" data-minutes="59">
                        <div class="number-wrapper">
                            <span class="number">45</span>
                        </div>
                        <div class="ref-wrapper">Mins</div>
                    </div>
                    <span class="dots">:</span>
                    <div class="seconds" data-seconds="02">
                        <div class="number-wrapper">
                            <span class="number">11</span>
                        </div>
                        <div class="ref-wrapper">Secs</div>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="products-entry">
                                <a href="/item/detail" class="info-link"></a>
                                <div class="products-thumb">
                                    <div class="product-image">
                                        <img th:src="@{/img/wine-1.png}" alt="">
                                    </div>
                                    <div class="add-cart-btn">장바구니 담기</div>
                                </div>
                                <div class="products-content">
                                    <div class="product-subname">Poggio Scalette</div>
                                    <div class="product-name txt-line-2">Il Carbonaione Alta Valle della Greve 2011 750ml</div>
                                    <div class="product-price">
                                        <del class="origin-price" aria-hidden="true">
                                            <span class="amount"><bdi>250,000</bdi>원</span>
                                        </del>
                                        <div class="current-price">
                                            <span class="amount"><bdi>175,000</bdi>원</span>
                                        </div>
                                        <div class="per">30%</div>
                                    </div>
                                    <div class="product-rate">
                                        <span class="star-review-icon" th:style="'background-image: url(/img/star-icon-on.png)'">0.0 (0)</span>
                                    </div>
                                    <div class="wishitem-btn">
                                        <span class="like-icon material-symbols-outlined">favorite</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="products-entry">
                                <a href="/item/detail" class="info-link"></a>
                                <div class="products-thumb">
                                    <div class="product-image">
                                        <img th:src="@{/img/wine-2.png}" alt="">
                                    </div>
                                    <div class="add-cart-btn">장바구니 담기</div>
                                </div>
                                <div class="products-content">
                                    <div class="product-subname">Hardys</div>
                                    <div class="product-name txt-line-2">HRB Shiraz 2008 750ml</div>
                                    <div class="product-price">
                                        <del class="origin-price" aria-hidden="true">
                                            <span class="amount"><bdi>90,000</bdi>원</span>
                                        </del>
                                        <div class="current-price">
                                            <span class="amount"><bdi>63,000</bdi>원</span>
                                        </div>
                                        <div class="per">18%</div>
                                    </div>
                                    <div class="product-rate">
                                        <span class="star-review-icon" th:style="'background-image: url(/img/star-icon-on.png)'">0.0 (0)</span>
                                    </div>
                                    <div class="wishitem-btn">
                                        <span class="like-icon material-symbols-outlined">favorite</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="products-entry">
                                <a href="/item/detail" class="info-link"></a>
                                <div class="products-thumb">
                                    <div class="product-image">
                                        <img th:src="@{/img/wine-3.png}" alt="">
                                    </div>
                                    <div class="add-cart-btn">장바구니 담기</div>
                                </div>
                                <div class="products-content">
                                    <div class="product-subname">Château Couhdiv-Lurton</div>
                                    <div class="product-name txt-line-2">Pessac-Léognan Blanc (Grand Cru Classé de Graves) 2011</div>
                                    <div class="product-price">
                                        <del class="origin-price" aria-hidden="true">
                                            <span class="amount"><bdi>132,000</bdi>원</span>
                                        </del>
                                        <div class="current-price">
                                            <span class="amount"><bdi>105,600</bdi>원</span>
                                        </div>
                                        <div class="per">22%</div>
                                    </div>
                                    <div class="product-rate">
                                        <span class="star-review-icon" th:style="'background-image: url(/img/star-icon-on.png)'">0.0 (0)</span>
                                    </div>
                                    <div class="wishitem-btn">
                                        <span class="like-icon material-symbols-outlined">favorite</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="products-entry">
                                <a href="/item/detail" class="info-link"></a>
                                <div class="products-thumb">
                                    <div class="product-label sold-out">품절</div>
                                    <div class="product-image">
                                        <img th:src="@{/img/wine-4.png}" alt="">
                                    </div>
                                    <div class="add-cart-btn">장바구니 담기</div>
                                </div>
                                <div class="products-content">
                                    <div class="product-subname">Château Rabaud-Promis</div>
                                    <div class="product-name txt-line-2">Sauternes (Premier Grand Cru Classé) 1955</div>
                                    <div class="product-price">
                                        <del class="origin-price" aria-hidden="true">
                                            <span class="amount"><bdi>468,000</bdi>원</span>
                                        </del>
                                        <div class="current-price">
                                            <span class="amount"><bdi>411,840</bdi>원</span>
                                        </div>
                                        <div class="per">15%</div>
                                    </div>
                                    <div class="product-rate">
                                        <span class="star-review-icon" th:style="'background-image: url(/img/star-icon-on.png)'">0.0 (0)</span>
                                    </div>
                                    <div class="wishitem-btn">
                                        <span class="like-icon material-symbols-outlined">favorite</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-btn swiper-button-prev" th:style="'background-image: url(/img/slide-arrow.png)'"></div>
                <div class="swiper-btn swiper-button-next" th:style="'background-image: url(/img/slide-arrow.png)'"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <section class="mbti-wrap">
        <div class="container" th:style="'background-image: url(/img/mbti-img.png)'">
            <input type="hidden" id="EI" value="0">
            <input type="hidden" id="SN" value="0">
            <input type="hidden" id="TF" value="0">
            <input type="hidden" id="JP" value="0">
            <input type="hidden" id="mbtiRes" value="">

            <div class="content-wrap">
                <div class="mbti-progress">
                    <div class="progress-text"></div>
                    <div class="progress-bar"><span></span></div>
                </div>

                <article class="start-page">
                    <p>나와 닮은 와인은?🤔</p>
                    <button type="button" th:style="'background-image: url(/img/slide-arrow.png)'" onclick="testStart();">알아보기</button>
                </article>

                <article class="question-page">
                    <h2 id="title"></h2>
                    <input type="hidden" id="type" value="EI">
                    <button id="A" type="button"></button>
                    <button id="B" type="button"></button>
                </article>

                <article class="mbtiResult-container">
                    <div id="mbtiResultBody" class="mbtiItemList">

                    </div>
                </article>
            </div>
        </div>
    </section>
</div>
</html>