<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(function(){
            var errorMsg = [[${errorMsg}]];
            if(errorMsg != null){
                alert(errorMsg);  // controller 에서 파라미터로 보내는 errorMsg 노출
            }
            bindDomEvent();
            rangeSlider();
        });

        function bindDomEvent(){
            $(".imgFile").on("change", function(){
                // a.jpg
                let fileName = $(this).val().split("\\").pop();
                let fileExt = fileName.substring(fileName.lastIndexOf(".")+1);
                let fileInput = $(".upload-name");
                // 확장자 추출
                fileExt = fileExt.toLowerCase(); // 소문자 소환

                if(fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp") {
                    alert("이미지 파일만 등록이 가능합니다.")
                    $(this).val("");
                    return;
                }

                fileInput.val(fileName);
            });
        }

        const rangeSlider = function(){
            const slider = $('.range-slider'),
                  slider_range = $('.range-slider__range'),
                  slider_val = $('.range-slider__value');

            slider.each(function(){
                slider_val.each(function(){
                    const slider_val = $(this).prev().attr('value');
                    $(this).html(slider_val);
                });

                slider_range.on('input', function(){
                    $(this).next(slider_val).html(this.value);
                });
            });
        };

        function updateWinerySelect(wineryList) {
            const selectBox = document.getElementById("regionSelect");

            selectBox.innerHTML = "";

            wineryList.forEach(function(winery) {
                const option = document.createElement("option");
                option.value = winery.id;
                option.textContent = winery.wineryName;
                selectBox.appendChild(option);
            });
        }

        function updateSelect(obj) {
            const val = obj.value;

            let inputHtml = "";
            inputHtml += "<input type='text' th:field='*{" + obj.getAttribute('name') + "}' class='input-field etc-field'>";

            if(val == "기타") {
                $(obj).parent().append(inputHtml);
            } else {
                $(obj).siblings(".etc-field").hide();
            }
        }

    </script>
</th:block>

<div layout:fragment="content">
    <div th:replace="~{fragments_admin/aside::aside}"></div>

    <section class="section-cont">
        <h3 class="section-title">상품 등록</h3>

        <form role="form" method="post" enctype="multipart/form-data" th:object="${itemFormDto}" class="form-wrap">
            <!-- 상품 ID input hidden -->
            <input type="hidden" th:field="*{id}">

            <div class="form-area">
                <dl>
                    <dt>상품명 <span class="required">*</span></dt>
                    <dd>
                        <input type="text" th:field="*{itemNm}" class="input-field">
                    </dd>
                </dl>
                <p th:if="${#fields.hasErrors('itemNm')}" th:errors="*{itemNm}" class="fieldError">Incorrect data</p>
            </div>

            <div class="form-area">
                <dl>
                    <dt>와이너리</dt>
                    <dd>
                        <input type="text" th:field="*{winery}" class="input-field">
                    </dd>
                </dl>
            </div>

            <div class="form-area">
                <dl>
                    <dt>와인 종류 <span class="required">*</span></dt>
                    <dd>
                        <select th:field="*{categoryId}" class="input-select" th:style="'background-image: url(/img/select-down-arrow.png)'" onchange="updateSelect(wineType)">
                            <option value="">선택하세요.</option>
                            <option value="1">레드</option>
                            <option value="2">화이트</option>
                            <option value="3">로제</option>
                            <option value="4">디저트</option>
                            <option value="5">포트</option>
                            <option value="6">스파클링</option>
                            <option value="7">기타</option>
                        </select>
                    </dd>
                </dl>
<!--                <p th:if="${#fields.hasErrors('wineType')}" th:errors="*{wineType}" class="fieldError">Incorrect data</p>-->
            </div>

            <div class="form-area">
                <dl>
                    <dt>와인 품종 <span class="required">*</span></dt>
                    <dd>
                        <select class="input-select" th:style="'background-image: url(/img/select-down-arrow.png)'" onchange="updateSelect(wineGrape)">
                            <option value="">선택하세요.</option>
                            <option value="쉬라즈">쉬라즈</option>
                            <option value="까베르네쇼비뇽">까베르네쇼비뇽</option>
                            <option value="말백">말백</option>
                            <option value="멜롯">멜롯</option>
                            <option value="템프라니요">템프라니요</option>
                            <option value="피노누아">피노누아</option>
                            <option value="진판델">진판델</option>
                            <option value="퍼미티보">퍼미티보</option>
                            <option value="블론드">블론드</option>
                            <option value="기타">기타</option>
                        </select>
                    </dd>
                </dl>
<!--                <p th:if="${#fields.hasErrors('wineGrape')}" th:errors="*{wineGrape}" class="fieldError">Incorrect data</p>-->
            </div>

            <div class="form-area">
                <dl>
                    <dt>와인 지역 <span class="required">*</span></dt>
                    <dd>
                        <select id="regionSelect" class="input-select" th:style="'background-image: url(/img/select-down-arrow.png)'" onchange="updateSelect(wineRegion)">
                            <option value="">선택하세요.</option>
                            <option value="프랑스">프랑스</option>
                            <option value="이탈리아">이탈리아</option>
                            <option value="미국">미국</option>
                            <option value="남아공">남아공</option>
                            <option value="호주">호주</option>
                            <option value="스페인">스페인</option>
                            <option value="독일">독일</option>
                            <option value="칠레">칠레</option>
                            <option value="아르헨티나">아르헨티나</option>
                            <option value="포르투갈">포르투갈</option>
                            <option value="뉴질랜드">뉴질랜드</option>
                            <option value="기타">기타</option>
                        </select>
                    </dd>
                </dl>
<!--                <p th:if="${#fields.hasErrors('wineRegion')}" th:errors="*{wineRegion}" class="fieldError">Incorrect data</p>-->
            </div>

            <div class="form-area">
                <dl>
                    <dt>와인 스타일 <span class="required">*</span></dt>
                    <dd>
                        <div class="rangeInputArea">
                            <div class="range-slider">
                                <label for="sweetness">당도</label>
                                <input type="range" id="sweetness" name="sweetness" class="range-slider__range" min="0" max="100" step="10" value="">
                                <output for="sweetness" class="range-slider__value">0</output>
<!--                                <p th:if="${#fields.hasErrors('sweetnessPercent')}" th:errors="*{sweetnessPercent}" class="fieldError">Incorrect data</p>-->
                            </div>

                            <div class="range-slider">
                                <label for="acidity">산도</label>
                                <input type="range" id="acidity" name="acidity" class="range-slider__range" min="0" max="100" step="10" value="">
                                <output for="acidity" class="range-slider__value">0</output>
<!--                                <p th:if="${#fields.hasErrors('acidityPercent')}" th:errors="*{acidityPercent}" class="fieldError">Incorrect data</p>-->
                            </div>

                            <div class="range-slider">
                                <label for="body">바디감</label>
                                <input type="range"  id="body" name="body" class="range-slider__range" min="0" max="100" step="10" value="">
                                <output for="body" class="range-slider__value">0</output>
<!--                                <p th:if="${#fields.hasErrors('bodyPercent')}" th:errors="*{bodyPercent}" class="fieldError">Incorrect data</p>-->
                            </div>

                            <div class="range-slider">
                                <label for="tannin">탄닌</label>
                                <input type="range" id="tannin" name="tannin" class="range-slider__range" min="0" max="100" step="10" value="">
                                <output for="tannin" class="range-slider__value">0</output>
<!--                                <p th:if="${#fields.hasErrors('tanninPercent')}" th:errors="*{tanninPercent}" class="fieldError">Incorrect data</p>-->
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>

            <div class="form-area">
                <dl>
                    <dt>비비노 평점</dt>
                    <dd>
                        <input type="text" class="input-field">
                    </dd>
                </dl>
            </div>

            <div class="form-area">
                <dl>
                    <dt>판매 가격 <span class="required">*</span></dt>
                    <dd>
                        <input type="number" th:field="*{price}" class="input-field">
                    </dd>
                </dl>
                <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="fieldError">Incorrect data</p>
            </div>

            <div class="form-area">
                <dl>
                    <dt>상품 수량 <span class="required">*</span></dt>
                    <dd>
                        <input type="number" th:field="*{stockNumber}" class="input-field">
                    </dd>
                </dl>
                <p th:if="${#fields.hasErrors('stockNumber')}" th:errors="*{stockNumber}" class="fieldError">Incorrect data</p>
            </div>

            <div class="form-area">
                <dl>
                    <dt>상품 이미지 <span class="required">*</span></dt>
                    <dd class="fileInputArea">
                        <!-- 등록 :: S -->
                        <div th:if="${#lists.isEmpty(itemFormDto.itemImgDtoList)}">
                            <input class="upload-name" value="첨부파일" placeholder="첨부파일">
                            <input type="file" class="form-control imgFile" name="itemImgFile" id="itemImgFile">
                            <label class="custom-file-label" for="itemImgFile">사진 선택</label>
                        </div>
                        <!-- 등록 :: E -->

                        <!-- 수정 :: S -->
                        <div th:if="${not #lists.isEmpty(itemFormDto.itemImgDtoList)}">
                            <input type="file" class="form-control imgFile" name="itemImgFile">
                            <input type="hidden" name="itemImgIds" th:value="${itemImgDto.id}">
                            <label class="input-group-text custom-file-label" th:text="${not #strings.isEmpty(itemImgDto.oriImgName)} ? ${itemImgDto.oriImgName} : '상품이미지' + ''"></label>
                        </div>
                        <!-- 수정 :: E -->
                    </dd>
                </dl>
            </div>

            <!--
                ${#strings.isEmpty(itemFormDto.id)} => String 문자열이 비어있으면 실행 => itemFormDto.id 현재 저장된 상품 X
            -->
            <div th:if="${#strings.isEmpty(itemFormDto.id)}" class="common-btns">
                <!-- href mapping /admin/item/new , method="post" -->
                <button th:formaction="@{/admin/item/new}" type="submit" class="btn-default">저장</button>
            </div>

            <!--
                위 조건이 아니면 실행 => 저장된 상품 O => 수정
            -->
            <div th:unless="${#strings.isEmpty(itemFormDto.id)}" class="common-btns">
                <!-- /admin/item/' + ${itemFormDto.id} => /admin/item/3 -->
                <button th:formaction="@{'/admin/item/' + ${itemFormDto.id}}" type="submit" class="btn-default">수정</button>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>
    </section>
</div>
</html>